{% extends 'content_base.html.twig' %}

{% block title %}Gestion des vidéos{% endblock %}

{% block content_body %}
    <div class="row">
    <d class="col-sm-12">
    <h1>Gestion des vidéos de l'article {{ article.id }}</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom du fichier</th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for element in video %}
            {%  if element.article.id == article.id %}
            <tr>
                <td>
                    {{ element.link }}
                </td>

                <td>
                    <a href="{{path( "article_admin_delete_video",{ id: element.id} )}}">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {%  endif %}
        {% endfor %}

        </tbody>
        <a href="gallery/addVideo/{{ article.id }}">
            <i class="fa fa-upload" aria-hidden="true"></i>
        </a>
    </table>
{% endblock %}
