
{% extends 'base.html.twig' %}

{%  block title %}
    Snowtricks
{%  endblock %}

{% block body %}
<body class="index is-preload">
<div id="page-wrapper">



    <!-- Banner -->
    <section id="banner">

        <!--
            ".inner" is set up as an inline-block so it automatically expands
            in both directions to fit whatever's inside it. This means it won't
            automatically wrap lines, so be sure to use line breaks where
            appropriate (<br />).
        -->
        <div class="inner">

            <header>
                <h2>Snowtricks</h2>
            </header>
            <p>Le site pour les fan du <strong>Snowboard</strong>
                <br />
             Une passion sans limite
                <br />

            <footer>
                <ul class="buttons stacked">
                    <li><a href="#main" class="button fit scrolly">Je me lance !</a></li>
                </ul>
            </footer>

        </div>

    </section>

    <!-- Main -->
    <article id="main">

        <header class="special container">
            <span class="icon solid fa-chart-bar"></span>
            <h2>Venez partagez votre passion
                <br />
                Toutes les astuces et technique des pro a votre disposition !</h2>
            <p>Snowtricks est un site ou l'on explique et donne des tips pour maitriser les meilleurs figure du snowboard !

                <br />

        </header>


        <!-- article -->

        <section class="wrapper style3 container special">

            <header class="major">
                <h2>Pour apprendre de nouveaux TRICKS, c'est <strong>Ici</strong></h2>
            </header>

            <div class="row">
            {% for article in articles %}

                <div class="col-6 col-12-narrower">

                    <section>
                        <a href="article/{{ article.id }}" class="image featured"><img src="images/{{ article.picture }}" alt="" /></a>
                        <header>
                            <h3>{{ article.title }}</h3>
                        </header>
                             <p>{{ article.content }}</p>
                    </section>

                </div>
                {%  endfor %}

            </div>

            <footer class="major">
                <ul class="buttons">
                    <li><a href="#" class="button">En voir plus</a></li>
                </ul>
            </footer>

        </section>

    </article>

    <!-- CTA -->
    <section id="cta">

        <header>
            <h2>Contact</h2>
            <p>N'hésitez pas à me contacter !</p>
        </header>
        <footer>
            <ul class="buttons">
                <li><a href="#" class="button primary">Take My Money</a></li>
                <li><a href="#" class="button">LOL Wut</a></li>
            </ul>
        </footer>

    </section>


</div>

</body>
{%  endblock %}
